---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}

            <h2>Abjuration</h2>
            {% assign sortedPosts = site.docs | sort: 'title' %}
            <ul>
            {% for doc in sortedPosts %}
              {%- if doc.school == "abjuration" -%}
                <li><a class="page-link" href="{{ doc.url | relative_url }}">{{ doc.title | escape }}</a></li>
              {%- endif -%}
            {% endfor %}
            </ul>

            <h2>Illusion</h2>
            {% assign sortedPosts = site.docs | sort: 'title' %}
            <ul>
            {% for doc in sortedPosts %}
              {%- if doc.school == "illusion" -%}
                <li><a class="page-link" href="{{ doc.url | relative_url }}">{{ doc.title | escape }}</a></li>
              {%- endif -%}
            {% endfor %}
            </ul>

</div>
